<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866928403248-83m26il37ppa6jc67n4decdtg48equ41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866928403248-83m26il37ppa6jc67n4decdtg48equ41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866928403248-i2apao6je9s82k9bjbavjfmpu85nv4qn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASpWsXpItR8S-IFrmkkc1l0DV3VvZhQ2g</string>
	<key>GCM_SENDER_ID</key>
	<string>866928403248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogoship.gogoship</string>
	<key>PROJECT_ID</key>
	<string>gogoship-d30ce</string>
	<key>STORAGE_BUCKET</key>
	<string>gogoship-d30ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866928403248:ios:6ae07e7ef20e7238bfdef5</string>
</dict>
</plist>